<!DOCTYPE html>
<html>
<head>
    <title>SwiftFullStack &raquo; 关于</title>
  
  {% include "meta.html" %}
</head>
<body data-controller-name="sessions">
{% include "header.html" %}


<div id="main" class="main-container container">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">关于</div>
                <div class="panel-body">
                   <div class="panel-body markdown">
                        <article>
                            <h2 id="这里是 Ruby 中文社区">这里是 SwiftFullStack 中文社区</h2>
                            <ul>
                                <li>分享Swift Web相关技术和各种新奇古怪技术<br></li>
                                <li>欢迎原创文章，也欢迎各种技术交流</li>
                                <li>本站基于 SwiftWeb 开发 </li>
                            </ul>
                            <p>Swift全栈 impossible maybe,面对各种成熟Web服务框架可能显的渺小，正因如此需要各路好汉加入，让swiftWeb服务有一席之地</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        APP.Common.resetNav("nav-about");
    });9
</script>
{% include "footer.html" %}
</body>
</html>
