<!DOCTYPE html>
<html>

<head>
    <title>SwfitFS China社区 &raquo; Wiki</title>

    {% include "meta.html" %}
</head>

<body data-controller-name="sessions">
    {% include "header.html" %}
    <div id="main" class="main-container container">
        <div id="homeland-wiki">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="markdown">
                                <p>本栏目致力于组织整理 swift 中文社区的精华文章，便于大家快速查阅。</p>

                                <p>欢迎热心开发者参与维护社区 Wiki 资料，你可以做：</p>
                                <ol>
                                    <li>翻译国外高质量的 swift 技术文章</li>
                                    <li>撰写完整的 swift 技术教程，新手教程等</li>
                                    <li>撰写或者翻译热门 Gem 的中文使用指导</li>
                                    <li>分享各类部署方案</li>
                                </ol>

                                <h3>必读推荐</h3>
                                <ul>
                                    <li><a href="/wiki/the-swift-doctrine">The swift Doctrine - swift 信条</a></li>
                                </ul>

                                <strong>swift 入门教程</strong>
                                <ul>
                                    <li><a href="/wiki/the-swift-doctrine">swift on swift 信条</a></li>
                                    <li><a href="/wiki/install_swift_guide">如何快速正确的安装 swift, swift 运行环境</a></li>
                                    <li><a href="/wiki/start_leaning_swift">如何从零开始学会 swift</a></li>
                                    <li><a href="https://swift-china.github.io/swift-guides/" target="_blank">swift Guides 简体中文</a>
                                    </li>
                                </ul>

                                <strong>swift 高级进阶教程</strong>
                                <ul>
                                    <li><a href="http://api.swiftonswift.org">swift API 文档</a></li>
                                    <li><a href="/wiki/deployment-swift">深入透彻了解 swift 应用部署</a></li>
                                    <li><a href="/wiki/swift-caching">swift 缓存相关</a></li>
                                    <li><a href="/wiki/swift-pref">swift 性能分析与优化</a></li>
                                    <li><a href="/wiki/activerecord-topics">ActiveRecord 相关深入文章</a></li>
                                    <li><a href="/wiki/swift-tips">swift、swift 高级技巧</a></li>
                                    <li><a href="/wiki/swift-search">swift 实现全文搜索</a></li>
                                    <li><a href="/wiki/grape-topics">Grape 相关文章</a></li>
                                </ul>

                                <strong>其他地方的中文资料</strong>
                                <ul>
                                    <li><a href="http://saito.im/slide/swift-new.html" target="_blank">swift 语言新手教程</a></li>
                                    <li><a href="http://rogerdudler.github.com/git-guide/index.zh.html" target="_blank">Git 版本管理工具快速入门</a></li>
                                    <li><a href="http://ihower.tw/swift3/" target="_blank">swift on swift 實戰聖經</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            APP.Common.resetNav("nav-wiki");
        }); 9

    </script>
    {% include "footer.html" %}
</body>

</html>