<!DOCTYPE html>
<html>

<head>
    <title>SwfitFS China社区 &raquo; Wiki</title>

    {% include "meta.html" %}
</head>

<body data-controller-name="sessions">
    {% include "header.html" %}
    <div id="main" class="main-container container">
        <div class="row" style="margin-top:30px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">wiki</div>
                    <div class="panel-body">
                        <div class="panel-body markdown">
                            <div class="panel-body">
                                <div class="markdown">
                                    <p>本栏目致力于组织整理 Swift 中文社区的精华文章，便于大家快速查阅。</p>

                                    <strong>Swift 入门教程</strong>
                                    <ul>
                                        <li><a href="/wiki/the-rails-doctrine">Ruby on Rails 信条</a></li>
                                        <li><a href="/wiki/install_ruby_guide">如何快速正确的安装 Ruby, Rails 运行环境</a></li>
                                        <li><a href="/wiki/start_leaning_rails">如何从零开始学会 Rails</a></li>
                                        <li><a href="https://ruby-china.github.io/rails-guides/" target="_blank">Rails Guides 简体中文</a>
                                        </li>
                                    </ul>

                                    <strong>Swift 高级进阶教程</strong>
                                    <ul>
                                        <li><a href="http://api.rubyonrails.org">Rails API 文档</a></li>
                                        <li><a href="/wiki/deployment-rails">深入透彻了解 Rails 应用部署</a></li>
                                        <li><a href="/wiki/rails-caching">Rails 缓存相关</a></li>
                                        <li><a href="/wiki/ruby-pref">Ruby 性能分析与优化</a></li>
                                        <li><a href="/wiki/activerecord-topics">ActiveRecord 相关深入文章</a></li>
                                        <li><a href="/wiki/rails-tips">Ruby、Rails 高级技巧</a></li>
                                        <li><a href="/wiki/rails-search">Rails 实现全文搜索</a></li>
                                        <li><a href="/wiki/grape-topics">Grape 相关文章</a></li>
                                    </ul>

                                    <strong>其他地方的中文资料</strong>
                                    <ul>
                                        <li><a href="http://saito.im/slide/ruby-new.html" target="_blank">Ruby 语言新手教程</a></li>
                                        <li><a href="http://rogerdudler.github.com/git-guide/index.zh.html" target="_blank">Git 版本管理工具快速入门</a></li>
                                        <li><a href="http://swift.gg/" target="_blank">swift.gg</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            APP.Common.resetNav("nav-wiki");
        }); 9
    </script>
    {% include "footer.html" %}
</body>

</html>